<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown
					type="Tektronix.LogicAnalyzer.TpiNet.ITlaSystem, TlaNetInterfaces"
					url="tcp://localhost:9000/TlaSystem"
				/>
			</client>
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
